@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    box-sizing: border-box;
    background-color: #E0E0E0;
}

:root {
    --primary: #479F0B;
    --mate: #78909C;
    --offGrey: #78909C;
}